doctype 5

html
	head
		title CV Builder
		link(href="/stylesheets/style.css", rel="stylesheet") 
	body
		#container
		script(src="/javascripts/require.js", data-main="/main.js")
		//- script(src="/javascripts/require.js", data-main="/javascripts/app.js")