login-height = 200px
login-width = 250px

#login-box
	height: login-height
	width: login-width
	border-radius: 10px
	background: #BBEEDF
	position: absolute
	top: 50%
	left: 50%
	margin-top: -(login-height/2) 
	margin-left: -(login-width/2) 
	padding: 20px

#login-box 
	label
	input
		display: block

#forgot-passwd
	cursor: pointer

#forgot-passwd:hover
	text-decoration: underline